body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #070707;
    background-blend-mode: lighten;
    margin:0px;
    padding:0px;
    color: rgb(105, 103, 103);
    font-family: 'Kanit', sans-serif;
  }
  h2{
      font-size: 2rem;
  }
  h1{
      text-align: center;
      color: rgb(49 31 4 / 85%);
      font-size: 4.5rem;
  }
  head{
      height: 0%;
  }
.container{
    align-items: center;
    margin: 50px 35%;
}

 .box1{
    border: 2px solid black;
    width:100%;
    height:20%;
    border-radius: 23px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    visibility:hidden;
    /* font-size: 1.5rem; */
}
.box{
    border: 2px solid black;
    width:100%;
    height:20%;
    border-radius: 23px;
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    align-items: center;
    color: black;
    justify-content: space-between;
    /* background-color: rgba(189, 31, 31, 0.158); */
}
.box img{
    height: 20px;
    width:20px;
    padding-right: 12px;
    transform: rotate(0deg);
}
.box span, .box1 p{
    padding-left: 12px;;
}
.box1:hover{
    background-color: rgb(189, 194, 194);
    cursor: pointer;
}
.option{
   
    width: 100%;
    border-radius: 23px;
    border: 2px solid black;
    }

.white1, .black1, .white2, .black2, .white, .black{
    /* width:50%; */
   display: flex;
    justify-content: space-evenly;
    
} 
.InitialTimeFormat{
    
    justify-content: space-between;
    height: 39vh;
}
.t1
{
    width:41%;
    border-radius: 23px;
    text-align: center;
    height: 6vh;
    margin-top: 1.5%;
    font-size: 1.15rem;
    font-family: 'Kanit', sans-serif;
    border: 3px solid black;

}
#tc1, #tc2{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 6vh;
    width: 30%;
    font-size: 1.15rem;
    border-radius: 23px;;
    font-family: 'Kanit', sans-serif;
    border: 3px solid black;
    
}
h2{
    text-align: center;
}
.t2{
    width: 41%;
    text-align: center;
    border-radius: 23px;
    height: 6vh;
    margin-top: 1.5%;
    font-size: 1.15rem;
    font-family: 'Kanit', sans-serif;
    border: 3px solid black;

}
.TimeControl1, .TimeControl2{
    visibility: hidden;
    height: 45vh;
   
   
}
.InitialTimeFormat, .TimeControl1, .TimeControl2{
    border: 3px solid rgb(44, 40, 2);
     border-radius: 123px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 41px;;
}
.submit{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: 45%;
    margin-right: 45%;
    
   
}
button{
    height: 50px;;
    width:100px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 23px;;
    font-family: 'Kanit', sans-serif;
    border: 3px solid rgb(44, 40, 2);
    font-size: 1.25rem;


}
/* .options-container {
    position: relative;
     list-style-type: none;
     height:20%;
    overflow:visible;
} */
